/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Menú superior en horizontal */
nav {
    background: #125495;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Icono de lupa */
.lupa {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Contenedor principal */
.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

/* Paneles */
.panel {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Títulos */
h2 {
    color: #125495;
    text-align: center;
}

/* Formularios */
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botones */
button {
    background: #de1212;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #de1212;
}

/* Tabla de historial de casos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background: #125495;
    color: white;
}

/* Footer */
.footer {
    background-color: #125495;;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}

.footer-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

